/* Css Reset */
* {
    box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
}

body {
    font-family: poppins;
}

a {
    text-decoration: none;
}

/* Akhir Css Reset */

/* header */
.wrapper {
    max-width: 1170px;
    padding: 10px 60px;
    /* margin: 0 auto; */
}

header {
    height: 70px;
    width: 100%;
    background-color: #5e5e62;
    top: 0;
    z-index: 10;
    position: fixed;
}

.logo {
    width: 124px;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    margin-right: -25px;
}

.header-right a {
    line-height: 50px;
    padding: 0 25px;
    color: #fff;
    display: block;
    float: left;
    transition: all 0.5s;
}

.header-right a:hover {
    background-color: #141E61;
    color: #fff;
}

span.menu-icon {
    color: #fff;
    float: right;
    font-size: 25px;
    padding: 15px 0;
    display: none;
}

/* akhir header */

/* container */
.container {
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-left {
    padding: 90px 60px;
    flex: 40%;
    background-color: #fff;
}

.container-left h2 {
    font-size: 40px;
    font-weight: 500;
    color: #0F044C;
}

.container-left .sub-title {
    margin: 40px 0;
}

.container-left p {
    font-weight: 300;
    color: #0F044C;
    line-height: 30px;
    font-size: 16px;
}

.text-blue {
    color: #141E61;
    font-weight: 700;
}

.btn {
    padding: 12px 24px;
    color: #fff;
    display: inline-block;
    opacity: 0.8;
    border-radius: 20px;
    text-align: center;
    border: none
}

.btn:hover {
    opacity: 1;
}

.join {
    padding: 15px 40px;
    cursor: pointer;
    box-shadow: 0 7px #0F044C;
    background-color: #141E61;
}

.join:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}

.container-right {
    background-color: #fff;
    padding: 10px;
    flex: 50%;
}

/* card-container */
.card-container {
    padding: 10px 40px;
    margin-bottom: 50px;
}

.card {
    text-align: center;
    padding: 15px 10px;
    background-color: #f1f1f1;
    border-radius: 9px;
    color: #000;
}

.active {
    background-color: #141E61;
    color: #fff;
}

.card h5 {
    font-size: 16px;
    font-weight: 600;
}

.card p {
    font-size: 11px;
}

.card:hover {
    transition: 0.7s ease-in-out;
    background-color: #141E61;
    color: #fff;
    cursor: pointer;
}

.card img{
    width: 200px;
    height: 200px;
    display: block;
    margin:0 auto;
}

/* Body */
.section-title{
    text-align: center;
    font-size:32px;
    padding-top: 20px;
    margin-bottom: 25px;
}

/* footer */

footer {
    min-height: 400px;
    width: 100%;
    background-color: #141E61;
    color: #eeeeee;
}

footer .footer-logo {
    height: 150px;
    padding-top: 75px;
    margin-left: 100px;
    float: left;
}

li {
    list-style: none;
    color: white;
    font-style: normal;
    font-weight: normal;
}

li a:hover {
    color: #787A91;
}

li a {
    text-decoration: none;
    color: white;
}

.row {
    float: left;
    font-size: 12px;
    color: #eeeeee;
    font-weight: normal;
    display: flex;
    margin-top: 65px;
    margin-left: 250px;
    padding-left: 100px;
    text-align: left;
    line-height: 3em;
    letter-spacing: 0.03em;
    justify-content: space-evenly;
}

.col-md-2 {
    padding: 30px;
}

.col-md-2 h4 {
    font-size: 14px;
    letter-spacing: 1.5;
    color: #b4afaf;
    font-weight: normal;
    display: flex;
}
